name: flutterfire_commons
description: A new Flutter project.
version: 0.0.1
homepage:

environment:
  sdk: '>=2.16.2 <3.0.0'
  flutter: '>=2.10.4'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
